div#a::after{
content:'בראשית ברא אלהים את השמים ואת הארץ'
}
div#b::after{
content:'והארץ היתה תהו ובהו וחשך על פני תהום ורוח אלהים מרחפת על פני המים'
}
div#c::after{
content:'ויאמר אלהים יהי אור ויהי אור'
}
div#d::after{
content:'וירא אלהים את האור כי טוב ויבדל אלהים בין האור ובין החשך'
}
div#e::after{
content:'ויקרא אלהים לאור יום ולחשך קרא לילה ויהי ערב ויהי בקר יום אחד'
}
div#f::after{
content:'ויאמר אלהים יהי רקיע בתוך המים ויהי מבדיל בין מים למים'
}
div#g::after{
content:'ויעש אלהים את הרקיע ויבדל בין המים אשר מתחת לרקיע ובין המים אשר מעל לרקיע ויהי כן'
}
div#h::after{
content:'ויקרא אלהים לרקיע שמים ויהי ערב ויהי בקר יום שני'
}
div#i::after{
content:'ויאמר אלהים יקוו המים מתחת השמים אל מקום אחד ותראה היבשה ויהי כן'
}
div#j::after{
content:'ויקרא אלהים ליבשה ארץ ולמקוה המים קרא ימים וירא אלהים כי טוב'
}
div#ja::after{
content:'ויאמר אלהים תדשא הארץ דשא עשב מזריע זרע עץ פרי עשה פרי למינו אשר זרעו בו על הארץ ויהי כן'
}
div#jb::after{
content:'ותוצא הארץ דשא עשב מזריע זרע למינהו ועץ עשה פרי אשר זרעו בו למינהו וירא אלהים כי טוב'
}
div#jc::after{
content:'ויהי ערב ויהי בקר יום שלישי'
}
div#jd::after{
content:'ויאמר אלהים יהי מארת ברקיע השמים להבדיל בין היום ובין הלילה והיו לאתת ולמועדים ולימים ושנים'
}
div#je::after{
content:'והיו למאורת ברקיע השמים להאיר על הארץ ויהי כן'
}
div#jf::after{
content:'ויעש אלהים את שני המארת הגדלים את המאור הגדל לממשלת היום ואת המאור הקטן לממשלת הלילה ואת הכוכבים'
}
div#jg::after{
content:'ויתן אתם אלהים ברקיע השמים להאיר על הארץ'
}
div#jh::after{
content:'ולמשל ביום ובלילה ולהבדיל בין האור ובין החשך וירא אלהים כי טוב'
}
div#ji::after{
content:'ויהי ערב ויהי בקר יום רביעי'
}
div#k::after{
content:'ויאמר אלהים ישרצו המים שרץ נפש חיה ועוף יעופף על הארץ על פני רקיע השמים'
}
div#ka::after{
content:'ויברא אלהים את התנינם הגדלים ואת כל נפש החיה הרמשת אשר שרצו המים למינהם ואת כל עוף כנף למינהו וירא אלהים כי טוב'
}
div#kb::after{
content:'ויברך אתם אלהים לאמר פרו ורבו ומלאו את המים בימים והעוף ירב בארץ'
}
div#kc::after{
content:'ויהי ערב ויהי בקר יום חמישי'
}
div#kd::after{
content:'ויאמר אלהים תוצא הארץ נפש חיה למינה בהמה ורמש וחיתו ארץ למינה ויהי כן'
}
div#ke::after{
content:'ויעש אלהים את חית הארץ למינה ואת הבהמה למינה ואת כל רמש האדמה למינהו וירא אלהים כי טוב'
}
div#kf::after{
content:'ויאמר אלהים נעשה אדם בצלמנו כדמותנו וירדו בדגת הים ובעוף השמים ובבהמה ובכל הארץ ובכל הרמש הרמש על הארץ'
}
div#kg::after{
content:'ויברא אלהים את האדם בצלמו בצלם אלהים ברא אתו זכר ונקבה ברא אתם'
}
div#kh::after{
content:'ויברך אתם אלהים ויאמר להם אלהים פרו ורבו ומלאו את הארץ וכבשה ורדו בדגת הים ובעוף השמים ובכל חיה הרמשת על הארץ'
}
div#ki::after{
content:'ויאמר אלהים הנה נתתי לכם את כל עשב זרע זרע אשר על פני כל הארץ ואת כל העץ אשר בו פרי עץ זרע זרע לכם יהיה לאכלה'
}
div#l::after{
content:'ולכל חית הארץ ולכל עוף השמים ולכל רומש על הארץ אשר בו נפש חיה את כל ירק עשב לאכלה ויהי כן'
}
div#la::after{
content:'וירא אלהים את כל אשר עשה והנה טוב מאד ויהי ערב ויהי בקר יום הששי'
}