div#a::after{
content:'בראשית ברא אלהים את השמים ואת הארץ'
}
div#b::after{
content:'והארץ היתה תהו ובהו וחשך על פני תהום ורוח אלהים מרחפת על פני המים'
}
div#c::after{
content:'ויאמר אלהים יהי אור ויהי אור'
}
div#d::after{
content:'וירא אלהים את האור כי טוב ויבדל אלהים בין האור ובין החשך'
}
div#e::after{
content:'ויקרא אלהים לאור יום ולחשך קרא לילה ויהי ערב ויהי בקר יום אחד'
}
div#f::after{
content:'ויאמר אלהים יהי רקיע בתוך המים ויהי מבדיל בין מים למים'
}
div#g::after{
content:'ויעש אלהים את הרקיע ויבדל בין המים אשר מתחת לרקיע ובין המים אשר מעל לרקיע ויהי כן'
}
div#h::after{
content:'ויקרא אלהים לרקיע שמים ויהי ערב ויהי בקר יום שני'
}
div#i::after{
content:'ויאמר אלהים יקוו המים מתחת השמים אל מקום אחד ותראה היבשה ויהי כן'
}
div#j::after{
content:'ויקרא אלהים ליבשה ארץ ולמקוה המים קרא ימים וירא אלהים כי טוב'
}
div#ja::after{
content:'ויאמר אלהים תדשא הארץ דשא עשב מזריע זרע עץ פרי עשה פרי למינו אשר זרעו בו על הארץ ויהי כן'
}
div#jb::after{
content:'ותוצא הארץ דשא עשב מזריע זרע למינהו ועץ עשה פרי אשר זרעו בו למינהו וירא אלהים כי טוב'
}
div#jc::after{
content:'ויהי ערב ויהי בקר יום שלישי'
}
div#jd::after{
content:'ויאמר אלהים יהי מארת ברקיע השמים להבדיל בין היום ובין הלילה והיו לאתת ולמועדים ולימים ושנים'
}
div#je::after{
content:'והיו למאורת ברקיע השמים להאיר על הארץ ויהי כן'
}
div#jf::after{
content:'ויעש אלהים את שני המארת הגדלים את המאור הגדל לממשלת היום ואת המאור הקטן לממשלת הלילה ואת הכוכבים'
}
div#jg::after{
content:'ויתן אתם אלהים ברקיע השמים להאיר על הארץ'
}
div#jh::after{
content:'ולמשל ביום ובלילה ולהבדיל בין האור ובין החשך וירא אלהים כי טוב'
}
div#ji::after{
content:'ויהי ערב ויהי בקר יום רביעי'
}
div#k::after{
content:''
}
div#ka::after{
content:''
}
div#kb::after{
content:''
}
div#kc::after{
content:''
}
div#kd::after{
content:''
}
div#ke::after{
content:''
}
div#kf::after{
content:''
}
div#kg::after{
content:''
}
div#kh::after{
content:''
}
div#ki::after{
content:''
}
div#l::after{
content:''
}
div#la::after{
content:''
}
div#ka::after{
content:''
}