@-webkit-keyframes stara{
to{
transform:translate(-200%,200%) rotate(-45deg) scale(0.5)
}
}
@-webkit-keyframes rotatea{
0%{
transform:translateY(-50%) scaleY(0);
filter:brightness(0)
}
50%{
transform:translateY(-35%) scaleY(0.7);
filter:brightness(0.5)
}
100%{
transform:translateY(0%) scaleY(1);
filter:brightness(1)
}
}
@-webkit-keyframes rotateb{
0%{
transform:translateY(-100%) scaleY(1);
filter:brightness(1)
}
50%{
transform:translateY(-65%) scaleY(0.7);
filter:brightness(0.5)
}
100%{
transform:translateY(-50%) scaleY(0);
filter:brightness(0)
}
}