a#launcher:active{
box-shadow:0px 0px 5px 2px black
}
a#linka{
border-color:white;
border-width:thin;
border-style:solid none;
background-color:silver;
color:black;
text-decoration:none
}
div#boxa{
width:160px;
height:160px
}
div#texta{
}
div#planeb,div#planea{
width:inherit;
height:inherit;
background-size:cover;
background-image:url('http://1.gravatar.com/avatar/c663a934f24a6db2546a8ec2fc309651?size=1600')
}
div#planeb{
animation:rotateb infinite 3s linear
}
div#planea{
animation:rotatea infinite 3s linear
}
@keyframes rotatea{
0%{
transform:translateY(-100%) scaleY(1);
}
100%{
transform:translateY(-50%) scaleY(0);
}
}
@keyframes rotateb{
0%{
transform:translateY(-50%) scaleY(0);
}
100%{
transform:translateY(0%) scaleY(1);
}
}
@keyframes ballona{
from{
height:80px;
width:calc(80px * 2)
}
to{
height:0px;
width:calc(0px * 2)
}
}
html{
background: gray
}