center{
margin:-170px auto auto auto
}
a,div a{
text-decoration:blink
}
div#poly1,div#wood,div#paper,div#default,div#help,div#mov{
height:200px;
font-size:48px;
border-radius:100px;
width:200px;
transform:matrix(0.1, -1, 1, 0.1, 0, 0);
animation:auto2 5s ease-in-out infinite alternate
}
div#poly2{
width:200px;
transform:matrix(0.1, 1, -1, 0.1, 0, 0);
margin:auto auto -400px auto;
animation:auto3 5s ease-in-out infinite alternate
}
div#poly1:hover,div#wood:hover,div#paper:hover,div#default:hover,div#mini:hover,div#help:hover,div#mov:hover,.hovera,
div#mwood:hover,div#mpaper:hover,div#mdefault:hover,div#mmini:hover,div#mhelp:hover,div#mmov:hover{
box-shadow:inset 0px 0px 20px 20px rgba(255, 255, 255, 0.5)
}
div#poly3{
transform:matrix(0.1, 1, -1, 0.1, 0, 0);
animation:auto3 5s ease-in-out infinite alternate;
margin:200px auto auto auto;
width:70px
}
div#mini,div#mwood,div#mpaper,div#mdefault,div#mmini,div#mhelp,div#mmov{
height:70px;
font-size:48px;
transform:matrix(0.1, -1, 1, 0.1, 0, 0);
border-radius:100px;
width:70px;
animation:auto2 5s ease-in-out infinite alternate
}
div#default,div#mdefault,div#mini{
color:#ffffff;
background:#3a3a3a
}
div#paper,div#mpaper{
color:#000dad;
background:#9E9E9E
}
div#wood,div#mwood{
background:#ff9800;
color:#0010d2
}
div#help,div#mhelp{
background:#ff5757;
color:#020098
}
div#mov,div#mmov{
background:#90bcff;
color:#920700
}
body{
animation:700ms move1
}
@keyframes move1{
0%{
position:fixed;
transform:matrix(1, 0, 0, 1, 1000, 0)
}
99%{
position:fixed;
transform:matrix(0.5, 0, 0, 1, -1000, 0)
}
100%{
position:static
}
}
@keyframes auto3{
100%{
transform:matrix(-0.1, 1, -1, -0.1, 0, 0)
}
}
@keyframes auto2{
100%{
transform:matrix(-0.1, -1, 1, -0.1, 0, 0)
}
}
@-webkit-keyframes auto3{
100%{
transform:matrix(-0.1, 1, -1, -0.1, 0, 0)
}
}
@-webkit-keyframes auto2{
100%{
transform:matrix(-0.1, -1, 1, -0.1, 0, 0)
}
}
