*{
text-decoration:none
}
div#polyb{
width:min-content;
margin-bottom:-14.7em;
transform:rotate(90deg)
}
a#wood div#polya{
color:#212121;
border-color:#ef6c00;
background:#ef6c00
}
a#paper div#polya{
color:#444444;
border-color:#9E9E9E;
background:#9E9E9E
}
a#sep div#polya{
filter:brightness(0.5);
color:white
}