*{
text-decoration:none
}
div#poly1{
height: 200px;
font-size: 64px;
box-shadow:inset 0px -14px 20px 0px #cccccc;
border-radius:100px;
width:200px;
animation:auto2 50s ease infinite
}
div#poly2{
width:min-content;
margin-bottom:-400px;
animation:auto3 50s ease infinite
}
@keyframes auto3{
0%{
transform:rotateZ(95deg)
}
50%{
transform:rotateZ(85deg)
}
100%{
transform:rotateZ(95deg)
}
}
@keyframes auto2{
0%{
transform:rotateZ(-95deg);
}
50%{
transform:rotateZ(-85deg);
}
100%{
transform:rotateZ(-95deg)
}
}
@-webkit-keyframes auto3{
0%{
transform:rotateZ(95deg)
}
50%{
transform:rotateZ(85deg)
}
100%{
transform:rotateZ(95deg)
}
}
@-webkit-keyframes auto2{
0%{
transform:rotateZ(-95deg);
}
50%{
transform:rotateZ(-85deg);
}
100%{
transform:rotateZ(-95deg)
}
}
