a,div a{
text-decoration:blink
}
div#poly1,div#wood,div#paper,div#default,div#help,div#mov{
height:300px;
box-shadow:inset 0px -120px 100px -40px rgb(0, 0, 0);
font-size:72px;
border-radius:150px;
width:300px;
transform:matrix(0.1, -1, 1, 0.1, 0, 0);
-webkit-animation:auto1 20s ease-in-out infinite alternate;
-moz-animation:auto1 20s ease-in-out infinite alternate;
-ms-animation:auto1 20s ease-in-out infinite alternate;
-o-animation:auto1 20s ease-in-out infinite alternate;
animation:auto1 20s ease-in-out infinite alternate
}
div#poly2{
height:900px;
width:200px;
transform:matrix(0.1, 1, -1, 0.1, -20, 170);
margin:-600px auto auto auto;
-webkit-animation:auto2 20s ease-in-out infinite alternate;
-moz-animation:auto2 20s ease-in-out infinite alternate;
-ms-animation:auto2 20s ease-in-out infinite alternate;
-o-animation:auto2 20s ease-in-out infinite alternate;
animation:auto2 20s ease-in-out infinite alternate
}
div#poly1:hover,div#wood:hover,div#paper:hover,div#default:hover,div#help:hover,div#mov:hover,.hovera{
box-shadow:inset 0px -120px 100px -40px rgba(0, 0, 0, 0.5) !important
}
div#mini:hover,div#mwood:hover,div#mpaper:hover,div#mdefault:hover,div#mmini:hover,div#mhelp:hover,div#mmov:hover,.hoverb{
box-shadow:inset 0px -70px 53px -40px rgba(0, 0, 0, 0.7) !important
}
div#poly3{
transform:matrix(0.1, 1, -1, 0.1, -20, -210);
-webkit-animation:auto3 20s ease-in-out infinite alternate;
-moz-animation:auto3 20s ease-in-out infinite alternate;
-ms-animation:auto3 20s ease-in-out infinite alternate;
-o-animation:auto3 20s ease-in-out infinite alternate;
animation:auto3 20s ease-in-out infinite alternate;
height:350px;
width:120px
}
div#mini,div#mwood,div#mpaper,div#mdefault,div#mmini,div#mhelp,div#mmov{
height:120px;
font-size:48px;
transform:matrix(0.1, -1, 1, 0.1, 0, 0);
border-radius:100px;
width:120px;
box-shadow:inset 0px -70px 53px -40px rgb(0, 0, 0);
-webkit-animation:auto1 20s ease-in-out infinite alternate;
-moz-animation:auto1 20s ease-in-out infinite alternate;
-ms-animation:auto1 20s ease-in-out infinite alternate;
-o-animation:auto1 20s ease-in-out infinite alternate;
animation:auto1 20s ease-in-out infinite alternate
}
div#default,div#mdefault,div#mini{
color:#ffffff;
background:#0014ff
}
div#paper,div#mpaper{
color:#ffffff;
background:#9E9E9E
}
div#wood,div#mwood{
background:#ff9800;
color:#0010d2
}
div#help,div#mhelp{
background:#ff5757;
color:#020098
}
div#mov,div#mmov{
background:#90bcff;
color:#920700
}
body{
-webkit-animation:1300ms forwards enter;
-moz-animation:1300ms forwards enter;
-ms-animation:1300ms forwards enter;
-o-animation:1300ms forwards enter;
animation:1300ms forwards enter;
margin:230px auto auto auto
}
html{
background:#000000
}
@-webkit-keyframes enter{
100%{
transform:matrix(1, 0, 0, 1, 0, 0)
}
}
@-webkit-keyframes auto1{
100%{
transform:matrix(-0.1, -1, 1, -0.1, 0, 0)
}
}
@-webkit-keyframes auto2{
100%{
transform:matrix(-0.1, 1, -1, -0.1, 20, 170)
}
}
@-webkit-keyframes auto3{
100%{
transform:matrix(-0.1, 1, -1, -0.1, 20, -210)
}
}
@-moz-keyframes enter{
100%{
transform:matrix(1, 0, 0, 1, 0, 0)
}
}
@-moz-keyframes auto1{
100%{
transform:matrix(-0.1, -1, 1, -0.1, 0, 0)
}
}
@-moz-keyframes auto2{
100%{
transform:matrix(-0.1, 1, -1, -0.1, 20, 170)
}
}
@-moz-keyframes auto3{
100%{
transform:matrix(-0.1, 1, -1, -0.1, 20, -210)
}
}
@-ms-keyframes enter{
100%{
transform:matrix(1, 0, 0, 1, 0, 0)
}
}
@-ms-keyframes auto1{
100%{
transform:matrix(-0.1, -1, 1, -0.1, 0, 0)
}
}
@-ms-keyframes auto2{
100%{
transform:matrix(-0.1, 1, -1, -0.1, 20, 170)
}
}
@-ms-keyframes auto3{
100%{
transform:matrix(-0.1, 1, -1, -0.1, 20, -210)
}
}
@-o-keyframes enter{
100%{
transform:matrix(1, 0, 0, 1, 0, 0)
}
}
@-o-keyframes auto1{
100%{
transform:matrix(-0.1, -1, 1, -0.1, 0, 0)
}
}
@-o-keyframes auto2{
100%{
transform:matrix(-0.1, 1, -1, -0.1, 20, 170)
}
}
@-o-keyframes auto3{
100%{
transform:matrix(-0.1, 1, -1, -0.1, 20, -210)
}
}
@keyframes enter{
100%{
transform:matrix(1, 0, 0, 1, 0, 0)
}
}
@keyframes auto1{
100%{
transform:matrix(-0.1, -1, 1, -0.1, 0, 0)
}
}
@keyframes auto2{
100%{
transform:matrix(-0.1, 1, -1, -0.1, 20, 170)
}
}
@keyframes auto3{
100%{
transform:matrix(-0.1, 1, -1, -0.1, 20, -210)
}
}
