@-webkit-keyframes stara{
to{
transform:translate(-279%,264%) rotate(-48deg)
}
}
@-webkit-keyframes rotatea{
from{
transform:translateY(-100%) scaleY(1);
filter:brightness(1)
}
to{
transform:translateY(-50%) scaleY(0);
filter:brightness(0.7)
}
}
@-webkit-keyframes rotateb{
from{
transform:translateY(-50%) scaleY(0);
filter:brightness(0.7)
}
to{
transform:translateY(0%) scaleY(1);
filter:brightness(1)
}
}
html{
background:gray
}