a#linkb{
position:absolute
}
div#boxa{
animation:opens 1s ease-in infinite alternate;
filter:drop-shadow(2px 4px 6px black);
height:250px;
position: absolute;
transform:translateY(-29%);
width:250px
}
div#planeb,div#planea{
width:inherit;
height:inherit;
background-size:cover;
background-image:url('http://1.gravatar.com/avatar/c663a934f24a6db2546a8ec2fc309651?size=1600')
}
div#planeb{
animation:rotateb infinite 3s linear
}
div#planea{
animation:rotatea infinite 3s linear
}
@keyframes opens{
to{
transform:translateY(70%);
}
}
@keyframes rotatea{
from{
transform:translateY(-100%) scaleY(1);
filter:brightness(1)
}
to{
transform:translateY(-50%) scaleY(0);
filter:brightness(0.5)
}
}
@keyframes rotateb{
from{
transform:translateY(-50%) scaleY(0);
filter:brightness(1.5)
}
to{
transform:translateY(0%) scaleY(1);
filter:brightness(1)
}
}
html{
background: gray
}