*{
text-decoration:none
}
div#poly1,div#wood,div#paper,div#default,div#help{
height:200px;
font-size:48px;
border-radius:100px;
width:200px;
animation:auto2 50s ease infinite
}
div#poly2{
width:200px;
margin:auto auto -400px auto;
animation:auto3 50s ease infinite
}
@keyframes auto3{
0%{
transform:rotateZ(95deg)
}
50%{
transform:rotateZ(85deg)
}
100%{
transform:rotateZ(95deg)
}
}
@keyframes auto2{
0%{
transform:rotateZ(-95deg)
}
50%{
transform:rotateZ(-85deg)
}
100%{
transform:rotateZ(-95deg)
}
}
@-webkit-keyframes auto3{
0%{
transform:rotateZ(95deg)
}
50%{
transform:rotateZ(85deg)
}
100%{
transform:rotateZ(95deg)
}
}
@-webkit-keyframes auto2{
0%{
transform:rotateZ(-95deg)
}
50%{
transform:rotateZ(-85deg)
}
100%{
transform:rotateZ(-95deg)
}
}
div#poly1:hover,div#wood:hover,div#paper:hover,div#default:hover,div#mini:hover,div#help:hover,.hovera{
box-shadow:inset 0px 20px 20px 0px rgba(255, 255, 255, 0.5)
}
div#poly3{
animation:auto3 50s ease infinite;
margin:200px auto auto auto;
width:70px
}
div#mini{
height:70px;
font-size:48px;
border-radius:100px;
width:70px;
animation:auto2 50s ease infinite;
color:#ffffff;
background:#3a3a3a
}
div#default{
color:#ffffff;
background:#3a3a3a
}
div#paper{
color:#000dad;
background:#9E9E9E
}
div#wood{
background:#ff9800;
color:#0010d2
}
div#help{
background:#ff5757;
color:#020098
}
