div#intro1{
background:#fff;
margin:-200px;
position:fixed;
width:10000px;
height:1000px;
margin-bottom:0px;
animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: blop
}
@keyframes blop{
0%{
z-index:500
}
100%{
z-index:-1;
transform:translateY(-200%)
}
}
