div#a::after{
content:'יהוה שפתי תפתח ופי יגיד תהלתך'
}
div#b::after{
content:'ברוך אתה יהוה אלוהינו ואלוהי אבותינו אלוהי אברהם אלוהי יצחק ואלוהי יעקב האל הגדול הגיבור והנורא אל עליון גומל חסדים טובים קונה הכל וזוכר חסדי אבות ומביא גואל לבני בניהם למען שמו באהבה מלך עוזר ומושיע ומגן'
}
div#c::after{
content:'ברוך אתה יהוה מגן אברהם אתה גיבור לעולם אדוני מחיה מתים אתה רב להושיע מוריד הטל מכלכל חיים בחסד מחיה מתים ברחמים רבים סומך נופלים ורופא חולים ומתיר אסורים ומקיים אומנתו לישני עפר מי כמוך בעל גבורות ומי דומה לך מלך ממית ומחיה ומצמיח ישועה ונאמן אתה להחיות מתים'
}
div#d::after{
content:'ברוך אתה יהוה מחיה המתים אתה קדוש ושמך קדוש וקדושים בכל יום יהללוך סלה'
}
div#e::after{
content:'ברוך אתה יהוה האל הקדוש אתה חונך לאדם דעת ומלמד לאנוש בינה חוננו מאתך חוכמה בינה ודעת'
}
div#f::after{
content:'ברוך אתה יהוה חונן הדעת השיבנו אבינו לתורתך וקרבנו מלכתנו לתורתך והחזרינו בתשובה שלמה לפניך'
}
div#g::after{
content:'ברוך אתה יהוה הרוצה בתשובה סלח לנו אבינו כי חטאנו מחול לנו מלכתו כי פשענו כי אל טוב וסלח אתה'
}
div#h::after{
content:'ברוך אתה יהוה חנון המרבה לסלוח ראה נא בעונינו וריבה ריבנו ומהר לגאולינו גאולה שלמה למען שמך כי אל גואל חזק אתה'
}
div#i::after{
content:'ברוך אתה יהוה גואל ישראל רפאנו יהוה ונרפא הושיענו ונושעה כי תהלתנו אתה והעלה ארוכה ומרפא לכל תחלואינו ולכל מאכובינו ולכל מכותנו כי אל טוב וסלח אתה'
}
div#j::after{
content:'ברוך אתה יהוה רופא חולי עמו ישראל ברך עלינו יהוה אלוהינו את השנה הזאת ואת כל מיני תבואתה לטובה ותן טל ומטר לברכה על כל פני האדמה ורווה פני תבל ושבע את העולם כולו מטובך ומלא ידינו מברכותיך ומעושר מתנות ידיך שומרה והצילה שנה זו מכל דבר רע ומכל מיני משחית ומכל מיני פורענות ועשה לה תקוה טובה ואחרית שלום חוס ורחם עליה ועל כל תבואתה ופרותיה וברכה בגשמי רצון ברכה ונדבה ותהי אחריתה חיים ושבע ושלום כשנים הטובות לברכה כי אל טוב ומטיב אתה ומברך השנים'
}
div#ja::after{
content:'ברוך אתה יהוה רופא חולי עמו ישראל ברכנו יהוה אלוהינו בכל מעשה ידינו וברך שנתנו בטללי רצון ברכה ונדבה ותהי אחריתה חיים ושבע ושלום כשנים הטובות לברכה כי אל טוב ומטיב אתה ומברך השנים'
}
div#ja::after{
content:'ברוך אתה יהוה מברך השנים תקע בשופר גדול לחרותנו ושא נס לקבץ גלויותינו וקבצנו מהרה יחד מארבע כנפות הארץ לארצנו'
}
div#jb::after{
content:'ברוך אתה יהוה מקבץ נדחי עמו ישראל השיבה שופטינו כבראשונה ויועצנו כבתחילה והסר ממנו יגון ואנחה ומלוך עלינו מהרה אתה יהוה לבדך בחסד וברחמים בצדק ובמשפט'
}
div#jc::after{
content:'ברוך אתה יהוה מלך אוהב צדקה ומשפט למינים ולמלשינים אל תהי תקוה וכל הזדים כרגע יאבדו וכל אויביך וכל שונאיך מהרה יכרתו ומלכות הרשעה מהרה תעקר ותשבר ותכלם ותכניעם במהרה בימינו'
}
div#jd::after{
content:'ברוך אתה יהוה שובר אויבים ומכניע זדים על הצדיקים ועל החסידים ועל שארית עמך בית ישראל ועל זקניהם ועל פלטת בית סופריהם ועל גרי הצדק ועלינו יהמו נא רחמיך יהוה אלוהינו ותן שכר טוב לכל הבוטחים בשמך באמת ושים חלקנו עמהם ולעולם לא נבוש כי בך בטחנו ועל חסדך הגדול באמת נשעננו'
}
div#je::after{
content:'ברוך אתה יהוה משען ומבטח לצדיקים תשכון בתוך ירושלים עירך כאשר דברת וכסא דוד עבדך מהרה בתוכה תכין ובנה אותה בנין עולם במהרה בימינו'
}
div#jf::after{
content:'ברוך אתה יהוה בונה ירושלים את צמח דוד עבדך מהרה תצמיח וקרנו תרום בישועתך כי לישועתך קוינו וציפינו כל היום'
}
div#jg::after{
content:'ברוך אתה יהוה מצמיח קרן ישועה שמע קולנו יהוה אלוהינו אב הרחמן רחם עלינו וקבל ברחמים וברצון את תפלתנו כי אל שומע תפלות ותחנונים אתה ומלפניך מלכנו ריקם אל תשיבנו חוננו ועננו ושמע תפלתנו כי אתה שומע תפלת כל פה'
}
div#jh::after{
content:'ברוך אתה יהוה שומע תפלה רצה יהוה אלוהינו בעמך ישראל ולתפלתם שעה והשב העבודה לדביר ביתך ואשי ישראל ותפלתם מהרה באהבה תקבל ברצון ותהי לרצון תמיד עבודת ישראל עמך ואתה ברחמיך הרבים תחפוץ בנו ותרצנו ותחזינה עיננו בשובך לציון ברחמים'
}
div#ji::after{
content:'ברוך אתה יהוה המחזיר שכינתו לציון מודים אנחנו לך שאתה הוא יהוה אלוהינו ואלוהי אבותינו לעולם ועד צורנו צור חיינו ומגן ישענו אתה הוא לדור ודור נודה לך ונספר תהלתך על חיינו המסורים בידך ועל נשמותינו הפקודות לך ועל נסיך שבכל יום עמנו ועל נפלאותיך וטובותיך שבכל עת ערב ובוקר וצהורים הטוב כי לא כלו רחמיך המרחם כי לא תמו חסדיך כי מעולם קוינו לך ועל כולם יתברך ויתרומם ויתנשא תמיד שמך מלכנו לעולם ועד וכל החיים יודוך סלה ויהללו ויברכו את שמך הגדול באמת לעולם כי טוב האל ישועתנו ועזרתנו סלה האל הטוב'
}
div#k::after{
content:'ברוך אתה יהוה הטוב שמך ולך נאה להודות שים שלום טובה וברכה חיים חן וחסד ורחמים עלינו ועל כל ישראל עמך וברכנו אבינו כולנו כאחד באור פניך כי באור פניך נתת לנו יהוה אלוהינו תורה וחיים אהבה וחסד צדקה ורחמים ברכה ושלום וטוב בעיניך לברכנו ולברך את כל עמך ישראל ברוב עוז ושלום'
}
div#ka::after{
content:'ברוך אתה יהוה המברך את עמו ישראל בשלום יהיו לרצון אמרי פי והגיון לבי לפניך יהוה צורי וגואלי אלוהי נצור לשוני מרע ושפתי מדבר מרמה ולמקללי נפשי תדום ונפשי כעפר לכל תהיה פתח לבי בתורתך ואחרי מצוותיך תרדוף נפשי וכל הקמים עלי לרעה מהרה הפר עצתם וקלקל מחשבותם יהיו כמוץ לפני רוח ומלאך יהוה דוחה עשה למען שמך עשה למען ימינך עשה למען תורתך עשה למען קדושתך למען יחלצון ידידיך הושיעה ימינך וענני יהיו לרצון אמרי פי והגיון לבי לפניך יהוה צורי וגואלי עושה שלום במרומיו הוא ברחמיו יעשה שלום עלינו ועל כל עמו ישראל ואמרו אמן'
}