div#cara{
background-image:url(ren0002.gif);
height:326px;
width:580px;
    background-size: contain;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: drivea;
position:fixed;
filter:contrast(2);
background-repeat:no-repeat
}
@keyframes drivea{
0%{
transform:translate(0%,0%) rotate(22deg)
}
100%{
transform:translate(-170%,-50%) rotate(8deg)
}
}
