div#boxa{
animation:stara 3s ease-out infinite alternate;
height:250px;
position:fixed;
transform:translate(200%,-200%) rotate(-45deg) scale(1.5);
width:250px
}
div#planeb,div#planea{
width:inherit;
height:inherit;
background-size:cover;
background-image:url('http://1.gravatar.com/avatar/c663a934f24a6db2546a8ec2fc309651?size=1600')
}
div#planea{
animation:rotatea infinite 2s linear
}
div#planeb{
animation:rotateb infinite 2s linear
}
@keyframes stara{
to{
transform:translate(-200%,200%) rotate(-45deg) scale(0.5)
}
}
@keyframes rotatea{
0%{
transform:translateY(-50%) scaleY(0) rotate(90deg);
filter:brightness(0)
}
50%{
transform:translateY(-35%) scaleY(0.7) rotate(90deg);
filter:brightness(0.5)
}
100%{
transform:translateY(0%) scaleY(1) rotate(90deg);
filter:brightness(1)
}
}
@keyframes rotateb{
0%{
transform:translateY(-100%) scaleY(1) rotate(90deg);
filter:brightness(1)
}
50%{
transform:translateY(-65%) scaleY(0.7) rotate(90deg);
filter:brightness(0.5)
}
100%{
transform:translateY(-50%) scaleY(0) rotate(90deg);
filter:brightness(0)
}
}
@-webkit-keyframes stara{
to{
transform:translate(-200%,200%) rotate(-45deg) scale(0.5)
}
}
@-webkit-keyframes rotatea{
0%{
transform:translateY(-50%) scaleY(0) rotate(90deg);
filter:brightness(0)
}
50%{
transform:translateY(-35%) scaleY(0.7) rotate(90deg);
filter:brightness(0.5)
}
100%{
transform:translateY(0%) scaleY(1) rotate(90deg);
filter:brightness(1)
}
}
@-webkit-keyframes rotateb{
0%{
transform:translateY(-100%) scaleY(1) rotate(90deg);
filter:brightness(1)
}
50%{
transform:translateY(-65%) scaleY(0.7) rotate(90deg);
filter:brightness(0.5)
}
100%{
transform:translateY(-50%) scaleY(0) rotate(90deg);
filter:brightness(0)
}
}
