div#background1{
background-image: url(block.bmp);
 height: 100000px;
transform:translate(50%,-50%);
 background-size: inherit;
 position: inherit;
 width: 100000px
}
div#background3 {
 transform: translate(-320px, 320px);
 position: fixed
}
div#car1{
transform:translate(50%,-50%);
position:inherit;
background-image:url(boxcar.bmp);
height:72px;
width:156px;
filter:contrast(2) blur(2px);
background-repeat:no-repeat
}
div#car3{
 transform: translate(-320px, 320px);
position:fixed
}