div#frame{
transform:translate(1210px,-1400px);
position:fixed
}
div#background1{
background-image:url(background1.png);
height:5000px;
width:5000px;
background-size:720px;
animation-name:texture;
animation-timing-function:linear;
animation-iteration-count:infinite;
animation-direction:normal;
animation-duration:710ms
}
div#car1{
background-image:url(ren0002.gif);
background-size:contain;
height:362px;
width:580px;
background-repeat:no-repeat
}
div#car2{
transform:rotateZ(270deg) translate(3500px,1150px) scale(0.6)
}
div#car3{
transform:rotateZ(270deg) translate(3860px,760px) scale(0.6);
filter:hue-rotate(212deg)
}
@keyframes texture{
0%{
transform:translateY(0px)
}
100%{
transform:translateY(720px)
}
}
div#background2,div#car1{
animation-duration: 60s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: auto1
}
@keyframes auto1{
0%{
transform:rotateZ(0deg)
}
25%{
transform:rotateZ(80deg)
}
50%{
transform:rotateZ(-60deg)
}
75%{
transform:rotateZ(150deg)
}
100%{
transform:rotateZ(360deg)
}
}
