div#frame{
margin-top:-460px;
margin-right:-460px;
position:fixed
}
div#background1{
background-image:url(background1.png);
height:3000px;
width:3000px;
filter:contrast(1.2);
background-size:100px;
animation-name:texture;
animation-timing-function:linear;
animation-iteration-count:infinite;
animation-direction:normal;
animation-duration:200ms
}
div#car1{
background-image:url(ren0002.gif);
background-size:contain;
height:362px;
width:580px;
filter:contrast(2);
background-repeat:no-repeat;
}
div#car2{
transform:rotateZ(270deg) translate(2400px,700px)
}
@keyframes texture{
0%{
transform:translateY(-47px)
}
100%{
transform:translateY(50px)
}
}
div#background2,div#car1{
animation-duration: 60s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: auto1
}
@keyframes auto1{
0%{
transform:rotateZ(0deg)
}
25%{
transform:rotateZ(80deg)
}
50%{
transform:rotateZ(-60deg)
}
75%{
transform:rotateZ(150deg)
}
100%{
transform:rotateZ(360deg)
}
}
