::after{font-family:monospace}
div#c001{display:flex;padding:unset;margin:unset;border:unset}
textarea.a002{width:-webkit-fill-available;height:-webkit-fill-available;margin:unset;padding:unset;border:unset}
.f001::after,.f002::after{content:"-"}.f001{color:transparent}.f003::after{content:"-"}

.b001::after{content:var(--b001)}.b002::after{content:var(--b002)}.b003::after{content:var(--b003)}
.b004::after{content:var(--b004)}.b005::after{content:var(--b005)}.b006::after{content:var(--b006)}
.b007::after{content:var(--b007)}.b008::after{content:var(--b008)}.b009::after{content:var(--b009)}
.b010::after{content:var(--b010)}.b011::after{content:var(--b011)}.b012::after{content:var(--b012)}
