::after{font-family:serif}
div#c001{display:flex;padding:0;margin:auto}
textarea.a002{width:-webkit-fill-available;height:-webkit-fill-available;margin:auto}
.b001::after{content:var(--b001)}.b002::after{content:var(--b002)}.b003::after{content:var(--b003)}
.b004::after{content:var(--b004)}.b005::after{content:var(--b005)}.b006::after{content:var(--b006)}
.b007::after{content:var(--b007)}.b008::after{content:var(--b008)}.b009::after{content:var(--b009)}
.b010::after{content:var(--b010)}.b011::after{content:var(--b011)}.b012::after{content:var(--b012)}

.c001::after{content:var(--c001)}.c002::after{content:var(--c002)}.c003::after{content:var(--c003)}
.c004::after{content:var(--c004)}.c005::after{content:var(--c005)}.c006::after{content:var(--c006)}
.c007::after{content:var(--c007)}.c008::after{content:var(--c008)}.c009::after{content:var(--c009)}
.c010::after{content:var(--c010)}.c011::after{content:var(--c011)}.c012::after{content:var(--c012)}
.c013::after{content:var(--c013)}.c014::after{content:var(--c014)}.c015::after{content:var(--c015)}
.c016::after{content:var(--c016)}.c017::after{content:var(--c017)}.c018::after{content:var(--c018)}
.c019::after{content:var(--c019)}.c020::after{content:var(--c020)}

.d001::after{content:var(--d001)}.d002::after{content:var(--d002)}.d003::after{content:var(--d003)}
.d004::after{content:var(--d004)}.d005::after{content:var(--d005)}.d006::after{content:var(--d006)}
.d007::after{content:var(--d007)}.d008::after{content:var(--d008)}.d009::after{content:var(--d009)}
.d010::after{content:var(--d010)}.d011::after{content:var(--d011)}.d012::after{content:var(--d012)}
.d013::after{content:var(--d013)}.d014::after{content:var(--d014)}.d015::after{content:var(--d015)}
.d016::after{content:var(--d016)}
