.bjg{
    width: 400px;
}
.ngi{
    padding: 10px;
}
.ohu{
    padding: 10px;width: fit-content;display: inline-block;
}
.ltm{
    width: 70px;padding: 10px;
}
.uye{
    padding: 10px;display: inline-block;
}
.czq{
    width: 85px;
}