@media screen and (min-width: 10px){.view{font-size:6px}}
@media screen and (min-width: 999px){.view{font-size:8px}}
@media screen and (min-width: 1333px){.view{font-size:13px}}
@media screen and (min-width: 1666px){.view{font-size:16px}}
@media screen and (min-width: 1999px){.view{font-size:24px}}
.view{
margin:50%
}
.a001{
display:grid;margin:unset;padding:unset
}
div#poly001,div#poly002,div#poly003,div#poly004,div#poly005,div#poly006,div#poly007,div#poly008{
height:0px;
position:absolute;
width:0px
}
div#polya001,div#polya002,div#polya003,div#polya004,div#polya005,div#polya006,div#polya007,div#polya008{
font-size:inherit;
height:0px;
position:sticky;
width:0px
}

div#poly001{animation:63s linear -31s infinite auto002}
div#poly002{animation:63s linear 0s infinite auto001}
div#poly003{animation:63s linear -9s infinite auto001}
div#poly004{animation:63s linear -18s infinite auto001}
div#poly005{animation:63s linear -27s infinite auto001}
div#poly006{animation:63s linear -36s infinite auto001}
div#poly007{animation:63s linear -45s infinite auto001}
div#poly008{animation:63s linear -54s infinite auto001}
div#polya001{animation:63s linear -31s infinite auto001}
div#polya002{animation:63s linear 0s infinite auto002}
div#polya003{animation:63s linear -9s infinite auto002}
div#polya004{animation:63s linear -18s infinite auto002}
div#polya005{animation:63s linear -27s infinite auto002}
div#polya006{animation:63s linear -36s infinite auto002}
div#polya007{animation:63s linear -45s infinite auto002}
div#polya008{animation:63s linear -54s infinite auto002}

@keyframes auto001{
0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}}
@keyframes auto002{
0%{transform:rotate(360deg)}
100%{transform:rotate(0deg)}}

div#poly001{-webkit-animation:63s linear -31s infinite auto002}
div#poly002{-webkit-animation:63s linear 0s infinite auto001}
div#poly003{-webkit-animation:63s linear -9s infinite auto001}
div#poly004{-webkit-animation:63s linear -18s infinite auto001}
div#poly005{-webkit-animation:63s linear -27s infinite auto001}
div#poly006{-webkit-animation:63s linear -36s infinite auto001}
div#poly007{-webkit-animation:63s linear -45s infinite auto001}
div#poly008{-webkit-animation:63s linear -54s infinite auto001}
div#polya001{-webkit-animation:63s linear -31s infinite auto001}
div#polya002{-webkit-animation:63s linear 0s infinite auto002}
div#polya003{-webkit-animation:63s linear -9s infinite auto002}
div#polya004{-webkit-animation:63s linear -18s infinite auto002}
div#polya005{-webkit-animation:63s linear -27s infinite auto002}
div#polya006{-webkit-animation:63s linear -36s infinite auto002}
div#polya007{-webkit-animation:63s linear -45s infinite auto002}
div#polya008{-webkit-animation:63s linear -54s infinite auto002}

div#poly001{-moz-animation:63s linear -31s infinite auto002}
div#poly002{-moz-animation:63s linear 0s infinite auto001}
div#poly003{-moz-animation:63s linear -9s infinite auto001}
div#poly004{-moz-animation:63s linear -18s infinite auto001}
div#poly005{-moz-animation:63s linear -27s infinite auto001}
div#poly006{-moz-animation:63s linear -36s infinite auto001}
div#poly007{-moz-animation:63s linear -45s infinite auto001}
div#poly008{-moz-animation:63s linear -54s infinite auto001}
div#polya001{-moz-animation:63s linear -31s infinite auto001}
div#polya002{-moz-animation:63s linear 0s infinite auto002}
div#polya003{-moz-animation:63s linear -9s infinite auto002}
div#polya004{-moz-animation:63s linear -18s infinite auto002}
div#polya005{-moz-animation:63s linear -27s infinite auto002}
div#polya006{-moz-animation:63s linear -36s infinite auto002}
div#polya007{-moz-animation:63s linear -45s infinite auto002}
div#polya008{-moz-animation:63s linear -54s infinite auto002}

div#poly001{-ms-animation:63s linear -31s infinite auto002}
div#poly002{-ms-animation:63s linear 0s infinite auto001}
div#poly003{-ms-animation:63s linear -9s infinite auto001}
div#poly004{-ms-animation:63s linear -18s infinite auto001}
div#poly005{-ms-animation:63s linear -27s infinite auto001}
div#poly006{-ms-animation:63s linear -36s infinite auto001}
div#poly007{-ms-animation:63s linear -45s infinite auto001}
div#poly008{-ms-animation:63s linear -54s infinite auto001}
div#polya001{-ms-animation:63s linear -31s infinite auto001}
div#polya002{-ms-animation:63s linear 0s infinite auto002}
div#polya003{-ms-animation:63s linear -9s infinite auto002}
div#polya004{-ms-animation:63s linear -18s infinite auto002}
div#polya005{-ms-animation:63s linear -27s infinite auto002}
div#polya006{-ms-animation:63s linear -36s infinite auto002}
div#polya007{-ms-animation:63s linear -45s infinite auto002}
div#polya008{-ms-animation:63s linear -54s infinite auto002}

div#poly001{-o-animation:63s linear -31s infinite auto002}
div#poly002{-o-animation:63s linear 0s infinite auto001}
div#poly003{-o-animation:63s linear -9s infinite auto001}
div#poly004{-o-animation:63s linear -18s infinite auto001}
div#poly005{-o-animation:63s linear -27s infinite auto001}
div#poly006{-o-animation:63s linear -36s infinite auto001}
div#poly007{-o-animation:63s linear -45s infinite auto001}
div#poly008{-o-animation:63s linear -54s infinite auto001}
div#polya001{-o-animation:63s linear -31s infinite auto001}
div#polya002{-o-animation:63s linear 0s infinite auto002}
div#polya003{-o-animation:63s linear -9s infinite auto002}
div#polya004{-o-animation:63s linear -18s infinite auto002}
div#polya005{-o-animation:63s linear -27s infinite auto002}
div#polya006{-o-animation:63s linear -36s infinite auto002}
div#polya007{-o-animation:63s linear -45s infinite auto002}
div#polya008{-o-animation:63s linear -54s infinite auto002}

@-webkit-keyframes auto001{
0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}}
@-webkit-keyframes auto002{
0%{transform:rotate(360deg)}
100%{transform:rotate(0deg)}}

@-moz-keyframes auto001{
0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}}
@-moz-keyframes auto002{
0%{transform:rotate(360deg)}
100%{transform:rotate(0deg)}}

@-ms-keyframes auto001{
0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}}
@-ms-keyframes auto002{
0%{transform:rotate(360deg)}
100%{transform:rotate(0deg)}}

@-o-keyframes auto001{
0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}}
@-o-keyframes auto002{
0%{transform:rotate(360deg)}
100%{transform:rotate(0deg)}}
