.bjg{
    width:220px;font-size:20px;height:200px
}
.ngi{
    padding:10px
}
.ohu{
    padding:10px;width:fit-content;display:inline-block;font-size:31px
}
.ltm{
    width:70px;padding:10px;
}
.uye{
    padding:10px;display: inline-block;
}
.czq{
    width:200px;font-size:31px
}
