center{
margin:unset
}
div#a1{
transform:scale(3) translate(150px,333333px);
width:0px
}
iframe{
height:999999px;
width:-webkit-fill-available
}
html{
background:#dfdfdf
}
a div#poly1{
height:50px;
width:50px;
font-size:24px;
transform:none;
animation:none
}
