iframe{
height:999999px;
width:-webkit-fill-available
}
html{
-webkit-animation:unset !important;
-moz-animation:unset !important;
-ms-animation:unset !important;
-o-animation:unset !important;
animation:unset !important;
background:#a9a9a9
}
body{
margin:unset
}
div#poly3,div#mwood,div#mpaper{
transform:matrix(1, 0, 0, 1, 0, 40);
-webkit-animation:unset;
-moz-animation:unset;
-ms-animation:unset;
-o-animation:unset;
animation:unset
}
