div#background1{
-webkit-animation:texture linear infinite 2500ms;
-moz-animation:texture linear infinite 2500ms;
-ms-animation:texture linear infinite 2500ms;
-o-animation:texture linear infinite 2500ms
}
div#frame2{
-webkit-animation:90s linear infinite auto2;
-moz-animation:90s linear infinite auto2;
-ms-animation:90s linear infinite auto2;
-o-animation:90s linear infinite auto2
}
div#background3,div#car1{
-webkit-animation:120s linear infinite auto1;
-moz-animation:120s linear infinite auto1;
-ms-animation:120s linear infinite auto1;
-o-animation:120s linear infinite auto1
}
@-webkit-keyframes auto1{
0%{
transform:rotateZ(0deg)
}
25%{
transform:rotateZ(80deg)
}
50%{
transform:rotateZ(-60deg)
}
75%{
transform:rotateZ(150deg)
}
100%{
transform:rotateZ(360deg)
}
}
@-webkit-keyframes auto2{
0%{
transform:rotateZ(360deg)
}
100%{
transform:rotateZ(0deg)
}
}
@-moz-keyframes auto1{
0%{
transform:rotateZ(0deg)
}
25%{
transform:rotateZ(80deg)
}
50%{
transform:rotateZ(-60deg)
}
75%{
transform:rotateZ(150deg)
}
100%{
transform:rotateZ(360deg)
}
}
@-moz-keyframes auto2{
0%{
transform:rotateZ(360deg)
}
100%{
transform:rotateZ(0deg)
}
}
@-ms-keyframes auto1{
0%{
transform:rotateZ(0deg)
}
25%{
transform:rotateZ(80deg)
}
50%{
transform:rotateZ(-60deg)
}
75%{
transform:rotateZ(150deg)
}
100%{
transform:rotateZ(360deg)
}
}
@-ms-keyframes auto2{
0%{
transform:rotateZ(360deg)
}
100%{
transform:rotateZ(0deg)
}
}
@-o-keyframes auto1{
0%{
transform:rotateZ(0deg)
}
25%{
transform:rotateZ(80deg)
}
50%{
transform:rotateZ(-60deg)
}
75%{
transform:rotateZ(150deg)
}
100%{
transform:rotateZ(360deg)
}
}
@-o-keyframes auto2{
0%{
transform:rotateZ(360deg)
}
100%{
transform:rotateZ(0deg)
}
}
