@media screen and (min-width: 1px), (min-height: 1px){
*{color:var(--theme001);text-decoration:blink;font-family:sans-serif
}
html{background-attachment:local;background-color:var(--color001);background-image:var(--wall001);background-position-y:bottom;background-position-x:center;background-repeat:no-repeat
}
a.a003,a.a004,a.a005,a.a006{background-color:var(--color003);position:fixed;bottom:100px;z-index:1
}
a.a003::after{content:var(--houses001)
}
a.a004::after{content:var(--houses002)
}
a.a005::after{content:var(--houses003)
}
a.a006::after{content:var(--houses004)
}
.a002{background-color:var(--color002)
}
div.a001{margin-bottom:1em
}
img.kannat1,img.kannat2,img.kannat3,img.kannat4,img.kannat5,img.kannat6,img.kannat7,img.kannat8,img.kannat9,img.kannat10,img.kannat11,img.kannat12,img.kannat13,img.kannat14,img.kannat15,img.kannat16,img.kannat17,img.kannat18,img.kannat19,img.kannat20{
width:inherit
}
img.kannat1{background-image:var(--kannat1);border-radius:var(--giz1)var(--giz2)var(--giz3)var(--giz4);margin:var(--laav1)
}
img.kannat2{background-image:var(--kannat2);border-radius:var(--giz5)var(--giz6)var(--giz7)var(--giz8);margin:var(--laav4)
}
img.kannat3{background-image:var(--kannat3);border-radius:var(--giz1)var(--giz3)var(--giz5)var(--giz7);margin:var(--laav2)
}
img.kannat4{background-image:var(--kannat4);border-radius:var(--giz2)var(--giz4)var(--giz6)var(--giz8);margin:var(--laav3)
}
img.kannat5{background-image:var(--kannat5);border-radius:var(--giz4)var(--giz3)var(--giz2)var(--giz1);margin:var(--laav2)
}
img.kannat6{background-image:var(--kannat6);border-radius:var(--giz8)var(--giz7)var(--giz6)var(--giz5);margin:var(--laav4)
}
img.kannat7{background-image:var(--kannat7);border-radius:var(--giz7)var(--giz5)var(--giz3)var(--giz1);margin:var(--laav1)
}
img.kannat8{background-image:var(--kannat8);border-radius:var(--giz8)var(--giz6)var(--giz4)var(--giz2);margin:var(--laav3)
}
img.kannat9{background-image:var(--kannat9);border-radius:var(--giz1)var(--giz4)var(--giz2)var(--giz6);margin:var(--laav2)
}
img.kannat10{background-image:var(--kannat10);border-radius:var(--giz3)var(--giz8)var(--giz7)var(--giz5);margin:var(--laav4)
}
img.kannat11{background-image:var(--kannat11);border-radius:var(--giz5)var(--giz3)var(--giz2)var(--giz7);margin:var(--laav3)
}
img.kannat12{background-image:var(--kannat12);border-radius:var(--giz4)var(--giz1)var(--giz6)var(--giz8);margin:var(--laav1)
}
img.kannat13{background-image:var(--kannat13);border-radius:var(--giz7)var(--giz3)var(--giz1)var(--giz5);margin:var(--laav4)
}
img.kannat14{background-image:var(--kannat14);border-radius:var(--giz6)var(--giz2)var(--giz4)var(--giz8);margin:var(--laav1)
}
img.kannat15{background-image:var(--kannat15);border-radius:var(--giz3)var(--giz1)var(--giz6)var(--giz7);margin:var(--laav3)
}
img.kannat16{background-image:var(--kannat16);border-radius:var(--giz4)var(--giz5)var(--giz2)var(--giz8);margin:var(--laav2)
}
img.kannat17{background-image:var(--kannat17);border-radius:var(--giz1)var(--giz4)var(--giz3)var(--giz7);margin:var(--laav1)
}
img.kannat18{background-image:var(--kannat18);border-radius:var(--giz6)var(--giz2)var(--giz5)var(--giz8);margin:var(--laav3)
}
img.kannat19{background-image:var(--kannat19);border-radius:var(--giz3)var(--giz2)var(--giz4)var(--giz1);margin:var(--laav2)
}
snap.a001{position:absolute;margin:308px -190px auto;font-weight:bold;padding:4px
}
}
@media screen and (min-width: 666px), (min-height: 666px){}
@media screen and (min-width: 999px), (min-height: 999px){}




