div#poly0{
-webkit-animation:6s linear infinite auto1;
-moz-animation:6s linear infinite auto1;
-ms-animation:6s linear infinite auto1;
-o-animation:6s linear infinite auto1
}
div#poly1{
-webkit-animation:60s linear infinite auto1;
-moz-animation:60s linear infinite auto1;
-ms-animation:60s linear infinite auto1;
-o-animation:60s linear infinite auto1
}
div#poly4{
-webkit-animation:60s linear infinite auto6;
-moz-animation:60s linear infinite auto6;
-ms-animation:60s linear infinite auto6;
-o-animation:60s linear infinite auto6
}
div#poly2{
-webkit-animation:60s linear infinite auto2;
-moz-animation:60s linear infinite auto2;
-ms-animation:60s linear infinite auto2;
-o-animation:60s linear infinite auto2
}
div#poly3{
-webkit-animation:60s linear infinite auto3;
-moz-animation:60s linear infinite auto3;
-ms-animation:60s linear infinite auto3;
-o-animation:60s linear infinite auto3
}
div#poly5{
-webkit-animation:60s linear infinite auto5;
-moz-animation:60s linear infinite auto5;
-ms-animation:60s linear infinite auto5;
-o-animation:60s linear infinite auto5
}
div#poly6{
-webkit-animation:60s linear infinite auto7;
-moz-animation:60s linear infinite auto7;
-ms-animation:60s linear infinite auto7;
-o-animation:60s linear infinite auto7
}
div#poly7{
-webkit-animation:60s linear infinite auto8;
-moz-animation:60s linear infinite auto8;
-ms-animation:60s linear infinite auto8;
-o-animation:60s linear infinite auto8
}
div#polya3{
-webkit-animation:6s linear infinite autoa4;
-moz-animation:6s linear infinite autoa4;
-ms-animation:6s linear infinite autoa4;
-o-animation:6s linear infinite autoa4
}
div#polya5{
-webkit-animation:60s linear infinite autoa4;
-moz-animation:60s linear infinite autoa4;
-ms-animation:60s linear infinite autoa4;
-o-animation:60s linear infinite autoa4
}
div#polya1{
-webkit-animation:60s linear infinite autoa6;
-moz-animation:60s linear infinite autoa6;
-ms-animation:60s linear infinite autoa6;
-o-animation:60s linear infinite autoa6
}
div#polya6{
-webkit-animation:60s linear infinite autoa2;
-moz-animation:60s linear infinite autoa2;
-ms-animation:60s linear infinite autoa2;
-o-animation:60s linear infinite autoa2
}
div#polya7{
-webkit-animation:60s linear infinite autoa3;
-moz-animation:60s linear infinite autoa3;
-ms-animation:60s linear infinite autoa3;
-o-animation:60s linear infinite autoa3
}
div#polya2{
-webkit-animation:60s linear infinite autoa5;
-moz-animation:60s linear infinite autoa5;
-ms-animation:60s linear infinite autoa5;
-o-animation:60s linear infinite autoa5
}
div#polya4{
-webkit-animation:60s linear infinite autoa7;
-moz-animation:60s linear infinite autoa7;
-ms-animation:60s linear infinite autoa7;
-o-animation:60s linear infinite autoa7
}
div#polya8{
-webkit-animation:60s linear infinite autoa8;
-moz-animation:60s linear infinite autoa8;
-ms-animation:60s linear infinite autoa8;
-o-animation:60s linear infinite autoa8
}
