@-webkit-keyframes auto2{
0%{
transform:rotate(54deg)
}
100%{
transform:rotate(414deg)
}
}
@-webkit-keyframes auto3{
0%{
transform:rotate(102deg)
}
100%{
transform:rotate(462deg)
}
}
@-webkit-keyframes auto5{
0%{
transform:rotate(153deg)
}
100%{
transform:rotate(513deg)
}
}
@-webkit-keyframes auto6{
0%{
transform:rotate(204deg)
}
100%{
transform:rotate(564deg)
}
}
@-webkit-keyframes auto7{
0%{
transform:rotate(255deg)
}
100%{
transform:rotate(615deg)
}
}
@-webkit-keyframes auto8{
0%{
transform:rotate(306deg)
}
100%{
transform:rotate(666deg)
}
}
@-webkit-keyframes autoa2{
0%{
transform:rotate(306deg) translate(17px, -12px)
}
100%{
transform:rotate(-54deg) translate(17px, -12px)
}
}
@-webkit-keyframes autoa3{
0%{
transform:rotate(258deg) translate(17px, -12px)
}
100%{
transform:rotate(-102deg) translate(17px, -12px)
}
}
@-webkit-keyframes autoa4{
0%{
transform:rotate(360deg) translate(17px, -12px)
}
100%{
transform:rotate(0deg) translate(17px, -12px)
}
}
@-webkit-keyframes autoa5{
0%{
transform:rotate(207deg) translate(17px, -12px)
}
100%{
transform:rotate(-153deg) translate(17px, -12px)
}
}
@-webkit-keyframes autoa6{
0%{
transform:rotate(156deg) translate(17px, -12px)
}
100%{
transform:rotate(-204deg) translate(17px, -12px)
}
}
@-webkit-keyframes autoa7{
0%{
transform:rotate(105deg) translate(17px, -12px)
}
100%{
transform:rotate(-255deg) translate(17px, -12px)
}
}
@-webkit-keyframes autoa8{
0%{
transform:rotate(54deg) translate(17px, -12px)
}
100%{
transform:rotate(-306deg) translate(17px, -12px)
}
}
@-moz-keyframes auto2{
0%{
transform:rotate(54deg)
}
100%{
transform:rotate(414deg)
}
}
@-moz-keyframes auto3{
0%{
transform:rotate(102deg)
}
100%{
transform:rotate(462deg)
}
}
@-moz-keyframes auto5{
0%{
transform:rotate(153deg)
}
100%{
transform:rotate(513deg)
}
}
@-moz-keyframes auto6{
0%{
transform:rotate(204deg)
}
100%{
transform:rotate(564deg)
}
}
@-moz-keyframes auto7{
0%{
transform:rotate(255deg)
}
100%{
transform:rotate(615deg)
}
}
@-moz-keyframes auto8{
0%{
transform:rotate(306deg)
}
100%{
transform:rotate(666deg)
}
}
@-moz-keyframes autoa2{
0%{
transform:rotate(306deg) translate(17px, -12px)
}
100%{
transform:rotate(-54deg) translate(17px, -12px)
}
}
@-moz-keyframes autoa3{
0%{
transform:rotate(258deg) translate(17px, -12px)
}
100%{
transform:rotate(-102deg) translate(17px, -12px)
}
}
@-moz-keyframes autoa4{
0%{
transform:rotate(360deg) translate(17px, -12px)
}
100%{
transform:rotate(0deg) translate(17px, -12px)
}
}
@-moz-keyframes autoa5{
0%{
transform:rotate(207deg) translate(17px, -12px)
}
100%{
transform:rotate(-153deg) translate(17px, -12px)
}
}
@-moz-keyframes autoa6{
0%{
transform:rotate(156deg) translate(17px, -12px)
}
100%{
transform:rotate(-204deg) translate(17px, -12px)
}
}
@-moz-keyframes autoa7{
0%{
transform:rotate(105deg) translate(17px, -12px)
}
100%{
transform:rotate(-255deg) translate(17px, -12px)
}
}
@-moz-keyframes autoa8{
0%{
transform:rotate(54deg) translate(17px, -12px)
}
100%{
transform:rotate(-306deg) translate(17px, -12px)
}
}
@-ms-keyframes auto2{
0%{
transform:rotate(54deg)
}
100%{
transform:rotate(414deg)
}
}
@-ms-keyframes auto3{
0%{
transform:rotate(102deg)
}
100%{
transform:rotate(462deg)
}
}
@-ms-keyframes auto5{
0%{
transform:rotate(153deg)
}
100%{
transform:rotate(513deg)
}
}
@-ms-keyframes auto6{
0%{
transform:rotate(204deg)
}
100%{
transform:rotate(564deg)
}
}
@-ms-keyframes auto7{
0%{
transform:rotate(255deg)
}
100%{
transform:rotate(615deg)
}
}
@-ms-keyframes auto8{
0%{
transform:rotate(306deg)
}
100%{
transform:rotate(666deg)
}
}
@-ms-keyframes autoa2{
0%{
transform:rotate(306deg) translate(17px, -12px)
}
100%{
transform:rotate(-54deg) translate(17px, -12px)
}
}
@-ms-keyframes autoa3{
0%{
transform:rotate(258deg) translate(17px, -12px)
}
100%{
transform:rotate(-102deg) translate(17px, -12px)
}
}
@-ms-keyframes autoa4{
0%{
transform:rotate(360deg) translate(17px, -12px)
}
100%{
transform:rotate(0deg) translate(17px, -12px)
}
}
@-ms-keyframes autoa5{
0%{
transform:rotate(207deg) translate(17px, -12px)
}
100%{
transform:rotate(-153deg) translate(17px, -12px)
}
}
@-ms-keyframes autoa6{
0%{
transform:rotate(156deg) translate(17px, -12px)
}
100%{
transform:rotate(-204deg) translate(17px, -12px)
}
}
@-ms-keyframes autoa7{
0%{
transform:rotate(105deg) translate(17px, -12px)
}
100%{
transform:rotate(-255deg) translate(17px, -12px)
}
}
@-ms-keyframes autoa8{
0%{
transform:rotate(54deg) translate(17px, -12px)
}
100%{
transform:rotate(-306deg) translate(17px, -12px)
}
}
@-o-keyframes auto2{
0%{
transform:rotate(54deg)
}
100%{
transform:rotate(414deg)
}
}
@-o-keyframes auto3{
0%{
transform:rotate(102deg)
}
100%{
transform:rotate(462deg)
}
}
@-o-keyframes auto5{
0%{
transform:rotate(153deg)
}
100%{
transform:rotate(513deg)
}
}
@-o-keyframes auto6{
0%{
transform:rotate(204deg)
}
100%{
transform:rotate(564deg)
}
}
@-o-keyframes auto7{
0%{
transform:rotate(255deg)
}
100%{
transform:rotate(615deg)
}
}
@-o-keyframes auto8{
0%{
transform:rotate(306deg)
}
100%{
transform:rotate(666deg)
}
}
@-o-keyframes autoa2{
0%{
transform:rotate(306deg) translate(17px, -12px)
}
100%{
transform:rotate(-54deg) translate(17px, -12px)
}
}
@-o-keyframes autoa3{
0%{
transform:rotate(258deg) translate(17px, -12px)
}
100%{
transform:rotate(-102deg) translate(17px, -12px)
}
}
@-o-keyframes autoa4{
0%{
transform:rotate(360deg) translate(17px, -12px)
}
100%{
transform:rotate(0deg) translate(17px, -12px)
}
}
@-o-keyframes autoa5{
0%{
transform:rotate(207deg) translate(17px, -12px)
}
100%{
transform:rotate(-153deg) translate(17px, -12px)
}
}
@-o-keyframes autoa6{
0%{
transform:rotate(156deg) translate(17px, -12px)
}
100%{
transform:rotate(-204deg) translate(17px, -12px)
}
}
@-o-keyframes autoa7{
0%{
transform:rotate(105deg) translate(17px, -12px)
}
100%{
transform:rotate(-255deg) translate(17px, -12px)
}
}
@-o-keyframes autoa8{
0%{
transform:rotate(54deg) translate(17px, -12px)
}
100%{
transform:rotate(-306deg) translate(17px, -12px)
}
}
