*{
color:var(--theme001);cursor:default;text-decoration:blink;font-family:sans-serif
}
a.icon002{
background-color:var(--color002);position:fixed;z-index:1;
}
.a001{
background-color:var(--color003)
}
.icon001{
margin-bottom:10px;text-align:center;width:inherit
}
img.icon001{
width:inherit
}
@media screen and (min-height: 1px), (min-width: 1px){
a.icon001{
width:64px
}
}
@media screen and (min-height: 666px), (min-width: 666px){
a.icon001{
width:99px
}
a.icon002{
padding:2px 17px
}
.a001, .icon001, a.icon002{
font-size:24px;filter:drop-shadow(-2px 2px 6px black)
}
.a001{
border:solid;border-width:1px;margin:var(--margin001);padding:var(--padding001)
}
}
@media screen and (min-height: 999px), (min-width: 999px){
a.icon001{
width:256px
}
.a001, .icon001, a.icon002{
font-size:72px
}
}
